{% extends 'base.html' %}

{% block title %} Create Board {% endblock %}

{% block content %}
{#    <table class="table table-bordered mt-4">#}
{#        <thead class="thead-dark">#}
{#            <tr>#}
{#                <th>100</th>#}
{#                <th>200</th>#}
{#                <th>300</th>#}
{#                <th>400</th>#}
{#                <th>500</th>#}
{#            </tr>#}
{#        </thead>#}
{##}
{#        <tbody>#}
{#            <tr class="p-5">#}
{#                <td class="table-active">test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#            </tr>#}
{#            <tr>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#                <td>test</td>#}
{#            </tr>#}
{#        </tbody>#}
{#    </table>#}
        <h1 class="text-center pt-3">Enter Questions</h1>

        <div id="row-header" class="row mt-5">
            <div class="col-md-2 border text-center bg-secondary">
                <h5 class="p-2">Category Title</h5>
            </div>
            <div class="col-md-2 border bg-secondary">
                <input class="my-2 form-control" type="text">
            </div>
            <div class="col-md-2 border bg-secondary">
                <input class="my-2 form-control" type="text">
            </div>
            <div class="col-md-2 border bg-secondary">
                <input class="my-2 form-control" type="text">
            </div>
            <div class="col-md-2 border bg-secondary">
                <input class="my-2 form-control" type="text">
            </div>
            <div class="col-md-2 border bg-secondary">
                <input class="my-2 form-control" type="text">
            </div>
        </div>

        <div id="row1" class="row">
            <div class="col-md-2 border text-center bg-secondary">
{#                <div class="row"></div>#}
{#                <div class="row">#}
                    <h4 class="p-2">100</h4>
{#                </div>#}
{#                <div class="row"></div>#}
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
        </div>

        <div id="row2" class="row">
            <div class="col-md-2 border text-center bg-secondary">
                <h4 class="p-2">200</h4>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
        </div>

        <div id="row3" class="row">
            <div class="col-md-2 border text-center bg-secondary">
                <h4 class="p-2">300</h4>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
        </div>

        <div id="row4" class="row">
            <div class="col-md-2 border text-center bg-secondary">
                <h4 class="p-2">400</h4>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
        </div>

        <div id="row5" class="row">
            <div class="col-md-2 border text-center bg-secondary">
                <h4 class="p-2">500</h4>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
            <div class="col-md-2 border">
                <textarea class="form-control my-2" rows="3"></textarea>
            </div>
        </div>

        <input class="btn btn-primary my-2 ml-auto" onsubmit="location.href('#answers');" type="submit" style="float: right;" value="Continue to Answers">


{% endblock %}