{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

{#    {% for user in users %}#}
{#        <h4>User</h4>#}
{#        <div class="btn btn-light">#}
{#            {{ user }}#}
{#        </div>#}
{#        <hr>#}
{#    {% endfor %}#}
    <div class="row mt-5 mb-5">

    </div>

    <h1 class="text-center m-4">Welcome to Jeopardy!</h1>

    <div class="row mt-5 mb-5">

    </div>


    <div class="row mb-5 mt-5 text-center">
        <div class="col-md-12">
            <a class="btn btn-primary p-5" href="/entry-board">Play Now</a>
        </div>
    </div>

    <div class="row mb-5 mt-5">

    </div>
{% endblock %}
